<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obo.activity" >

    <!-- 设定网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.obo.application.OBApplication">
        <activity
            android:name=".ListViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_list_view" />
        <activity
            android:name="com.obo.mydemos.view.moutitouch.MoutiTouchActivity"
            android:label="@string/title_activity_mouti_touch" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.MainActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.view.singletouch.SingleTouchActivity"
            android:label="@string/title_activity_single_touch" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="com.obo.activity.intent.action.SingleTouchActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.view.matrix.MatrixActivity"
            android:label="@string/title_activity_matrix" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.MatrixActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.service.ServiceActivity"
            android:label="@string/title_activity_service" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.ServiceActivity" />
            </intent-filter>
        </activity>

        <service
            android:name="com.obo.mydemos.service.OBService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.obo.mydemos.animate.AnimateActivity"
            android:label="@string/title_activity_animate" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.AnimateActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.socket.SocketActivity"
            android:label="@string/title_activity_socket" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.SocketActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.ndk.NdkActivity"
            android:label="@string/title_activity_ndk" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.NdkActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.webview.WebViewActivity"
            android:label="@string/title_activity_web_view" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.WebViewActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.navigation.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="landscape" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.NavigationActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.porterduff.PorterDuffActivity"
            android:label="@string/title_activity_porter_duff" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.PorterDuffActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.bitmap.BitmapActivity"
            android:label="@string/title_activity_bitmap" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.obo.activity.intent.action.BitmapActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.obo.mydemos.okhttp.OkHttpActivity"
            android:label="@string/title_activity_ok_http"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.obo.activity.intent.action.OkHttpActivity"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
